<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="SAPUserId" value="MAHLAKOM"/>
    <add key="SAPPassword" value="Mahlako12345"/>
    <add key="ApplicationPath" value="C:\Program Files (x86)\SAP\FrontEnd\SAPgui\saplogon.exe"/>
    <add key="WakeUpTimeCron" value="MyEMailAddress"/>
    <add key="AccountSourcePath" value="C:\Project\Account\AccountsData.txt"/>
    <add key="Outputfolder" value="C:\PaymentData\"/>
  </appSettings>
</configuration>